/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tblHead {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25px;
}

li {
    list-style: none;
}

header {
    /* background-color: black; */
    color: black;
    /* border-bottom: 3px solid black; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.typePerson #student,
#employee,
#customer {
    color: black;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border: 1px solid #dee2e6;
    padding: 5px 20px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    font-size: 18px;
}

.typePerson #student:hover,
#employee:hover,
#customer:hover {
    background-color: rgba(0, 132, 255, 0.589);
    color: white;
}

.category_button span {
    pointer-events: none;
}

.search {
    display: flex;
}

.btnSearch {
    border: 1px solid #dee2e6;
    transform: translateX(80px);

}

.searchArea {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    align-items: end;
    width: 300px;
    transform: translateX(80px);
}

.add_person {
    transform: translateY(15px);
}

.add_person #navbarDropdown {
    line-height: 1;
}


table {
    width: 100%;
    text-align: center;
}

table td,
tr,
th {
    border: 1px solid #dee2e6;
    padding: 5px;
}

table thead {
    background-color: rgba(0, 0, 0, 0.192);

}


table thead th {
    padding: 15px;
    font-weight: 600;
}

table td b {
    font-weight: 500;
}

/* avoid click on X icon */
.fa-solid.fa-x,
.fa-solid.fa-pencil {
    pointer-events: none;
}




#table_student {
    margin-top: 10px;
}



#table_employee,
#table_customer {
    display: none;
    margin-top: 10px;
}

.tblBody .fa-sort {
    background-color: #E1E7F0;
    color: #34495E;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.tblBody .fa-sort:hover {
    background-color: white;


}

.selected {
    background-color: rgba(0, 132, 255, 0.753) !important;
    color: white !important;
}

.tblFoot {
    position: relative;
    float: right;
}

.form-group label {
    font-weight: 500;
}

#myModalCustomer select {
    width: 40px;
    height: 30px;
}